* {
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    position: absolute;
    background-color: rgba(11, 203, 209, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 15px;
    padding: 65px;

}